body {
  margin: 0px;
  font-family: "Alfa Slab One", cursive;

  font-family: "Roboto", sans-serif;

  /* font-family: "Shadows Into Light", cursive; */
}

.loginOuterContainer {
  display: grid;
  place-items: center;
  background-color: #a239ea;
  height: 100vh;
}

.LoginInnerContainer {
  display: grid;
  background-color: white;
  border-radius: 0.5rem;
  width: 20%;
  padding: 20px;
  min-width: 300px;
  max-width: 400px;
}

.loginH1 {
  font-family: "Alfa Slab One", cursive;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.inpt {
  height: 1rem;
  color: #a239ea;
  border-radius: 0.5rem;
  padding: 10px;
  border: 2px solid #a239ea;
  margin: 0px 0px 10px;
  outline-width: 0px;
  transition: all 500ms linear;
}
.inpt:focus {
  transform: scale(10px);
}

.btn {
  background-color: #a239ea;
  border-radius: 0.5rem;
  padding: 10px;
  border: 2px solid #a239ea;
  margin: 0px 0px 10px;
  font-weight: bold;
  color: white;
  outline-width: 0px;
}

.errorMessageH1 {
  background-color: black;
  font-size: 24px;
  font-weight: lighter;
  color: white;
  padding: 2%;
  position: absolute;
  z-index: 10;
  border-radius: 0.5rem;
  bottom: 5vh;
  left: 5vw;
  max-width: 400px;
  font-family: "Shadows Into Light", cursive;
}

.whiteScreen {
  visibility: hidden;
  background-color: #a239ea;
  color: Black;
  justify-content: center;
  position: fixed;
  z-index: 5;
  height: 99vh;
  width: 99vw;
  place-items: center;
  font-size: 32px;
  font-weight: bolder;
  font-family: "Alfa Slab One", cursive;
}

@media screen and (max-width: 800px) {
  .whiteScreen {
    visibility: visible;
  }
  .whiteScreenH1 {
    padding: 10%;
    width: 60%;
  }
}
